.update_page_background {
    background-image: linear-gradient(226deg, rgb(253 209 49) 48%, rgb(255 250 88) 100%);
    padding-top: 90px;
    height: 100vh;
    border-right: 1px solid #cdc64e;
}
.container {
    padding: 0;
    margin: 0;
}
.update_page_content {
    padding-top: 90px;
}
.update_page_form {
    margin: 50px 30px
}
.update_page_form_title {
    font-size: 30px;
    font-weight: 350;
}
.update_title_text {
    margin-right: 7px;
}
.update_title_body {
    margin-top: 20px;
}
.update_form {
    width: 300px;
}
.update_user_from_field {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}
.update_user_from_input {
    border-radius: 3px;
    border: 1px solid grey;
    padding: 5px 10px;
}

.update_user_form_controllers {
    display: flex;
    justify-content: flex-end;
}

.update_user_form_controller {
    margin: 20px 0;
    padding: 5px 25px;
}