.orderTimePart {
    position: relative;
    border-radius: 8px;
    border:solid 1px #e0dede;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orderTimePartSwitchers {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orderSelectTime {
    cursor: pointer;
}

.orderTimeSwitcher {
    cursor: pointer;
}

.orderTimeSwitcher {
    margin-right: 15px;
}
.orderTimeSwitcherActive {
    background-color: #5a6268;
    border-radius: 40px;
    color: #fff;
    border: #5a6268;
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
    padding: 8px;
}