.App__meals-container{
    padding-top: 300px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    user-select: none;
}
.meal-card{
    margin-left:100px;
    user-select: none;
}
.App__content-main-card-info{
    display: flex;
}
.card-inline-price{
   text-align: center; 
   font-size: 20px;
   
}
.meal-cart{
    align-self: flex-end;
    margin-right: 25px;
}