.orderPage {
    height: 100vh;
    margin: 0 2%;
}

.orderTitle {
    margin: 40px 0;
}

.orderTitleText {
    font-size: 40px;
    font-weight: 380;
}

.orderBody {
    display: flex;
    justify-content: space-between;
}

.orderInfo {
    width: 45%;
}

.orderListItems {
    height: 500px;
    width: 350px;
}