.auth_user_form_labels {
    display: flex;
    justify-content: space-between;
}

.auth_user_form_field {
    padding-top: 10px;
}
.phoneField {
    display: flex;
}
.codeSelect {
    width: 100px;
}